// In this scss you can overwrite all our scss, we suggested you to add your scss into this, so whenever the update comes it will not affect your code.

.action-icon {
  font-size: $h3-font-size;
  color: $secondary;
  transition: all .3s;
  &:hover {
    cursor: pointer;
  }
}

.play-icon {
  &:hover {
    color: $success;
  }
}

.log-icon {
  &:hover {
    color: $primary;
  }
}

.download-icon {
  &:hover {
    color: $primary;
  }
}

.delete-icon {
  &:hover {
    color: $danger;
  }
}

.btn {
  &:disabled {
    background-color: $disabled;
    border-color: $disabled;
    opacity: 1;
  }
}
