<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="px-4 py-3 d-flex justify-content-between">
        <h4 class="card-title text-dark mb-0">Scenarios</h4>
        <div class="d-flex align-items-center">
            <button class="btn btn-secondary text-white d-flex align-items-center me-2">
                <i class="bi bi-download me-2"></i>
                <span>Input Template</span>
            </button>
            <button class="btn btn-primary text-white d-flex align-items-center">
                <i class="bi bi-plus-circle-fill me-2"></i>
                <span>New Scenario</span>
            </button>
        </div>
      </div>
      <div class="card-body border-top">
        <div class="table-responsive">
          <table class="table align-middle text-nowrap">
              <thead class="thead-dark">
                  <tr>
                      <th class="text-dark font-medium fs-4">Date</th>
                      <th class="text-dark font-medium fs-4">Scenario</th>
                      <th class="text-dark font-medium fs-4">Coverage Period</th>
                      <th class="text-dark font-medium fs-4">Comments</th>
                      <th class="text-dark font-medium fs-4">Status</th>
                      <th class="text-dark font-medium fs-4">Action</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor='let ts of topScenarios'>
                    <td>{{ts.date}}</td>
                    <td>{{ts.scenarioName}}</td>
                    <td>{{ts.coveragePeriod}}</td>
                    <td>{{ts.comments}}</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <span class="p-2 bg-{{statusList[ts.status].icon}} rounded-circle d-inline-block"></span>
                            <span class="px-2">{{statusList[ts.status].label}}</span>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="px-2">
                                <i class="bi bi-play-circle-fill action-icon"></i>
                            </div>
                            <div class="px-2">
                                <i class="bi bi-list-check action-icon"></i>
                            </div>
                            <div class="px-2">
                                <i class="bi bi-download action-icon"></i>
                            </div>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-secondary text-white d-flex align-items-center" [disabled]="ts.status === 'not_optimized'">
                            <i class="bi bi-download me-2"></i>
                            <span>Output</span>
                        </button>
                    </td>
                  </tr>              
              </tbody>
          </table>
      </div>
      </div>
    </div>
  </div>
</div>
